In [1]:
import pydicom as dicom
import matplotlib.pyplot as plt
import csv 
import skimage
#from skimage.transform import resize
import os.path
from os import path
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

In [2]:
def getSamePadding(this_array):
    # Array to be added as row
    row_to_be_added = this_array[70]
    # Adding row to numpy array
    result = np.vstack ((this_array, row_to_be_added) )
    
    # Array to be added as column
    column = this_array[:, 70]
    last_item = this_array[70, 70]
    
    # Adding column to numpy array
    column_to_be_added = np.append(column, last_item)
    
    # stack column to numpy array
    new_img = np.column_stack((result, column_to_be_added))
    return new_img

In [3]:
def getNormed(this_array, this_min = 0, this_max = 255, set_to_int = True):
    new_var = this_array.copy()
    rat = (this_max - this_min)/(new_var.max() - new_var.min())
    new_var = new_var * rat
    new_var -= new_var.min()
    new_var += this_min
    if set_to_int:
        return new_var.astype('uint8')
    return new_var

In [ ]:
# copy all images for training
image_folder = '/Users/amalalmansour/Downloads/LIDC'
new_dir = '/Users/amalalmansour/Desktop/images_1332'
image_array = []
noduleID_array = []
arr = [0]*5184
print(image_folder)

for dir1 in os.listdir(image_folder):
    print(dir1)
    if not dir1.startswith('.'):
        for file in os.listdir(os.path.join(image_folder, dir1)):
            #print(file)
            noduleID = file.split('.')[0]
            if int(noduleID) in nodule_1332:
                noduleID_array.append(noduleID)
                shutil.copyfile(os.path.join(image_folder, dir1,file), os.path.join(new_dir, dir1,file))

In [4]:
arr = [0]*5184

In [5]:
# collect all images for training
image_folder = '/Users/amalalmansour/Downloads/LIDC'
image_array = []
label_array = []
max_array = []
min_array = []

print(image_folder)
for dir1 in os.listdir(image_folder):
    print(dir1)
    if not dir1.startswith('.'):
        for file in os.listdir(os.path.join(image_folder, dir1)):

            noduleID = file.split('.')[0]
            label_array.append(noduleID)
            temp_image = np.loadtxt(os.path.join(image_folder, dir1,file))
            #temp_image = temp_image.pixel_array
            temp_image = getNormed(temp_image)
            if temp_image.shape[0] > 71 or temp_image.shape[1] > 71:
                print(noduleID)
                continue
            enlarged_img = getSamePadding(temp_image)
            newArr = enlarged_img.flatten()
            
            #Check for null values
            if np.any(np.isnan(newArr)) == True:
                print(np.any(np.isnan(newArr)))
                
            max_array.append(newArr.max())
            min_array.append(newArr.min())
            image_array.append(newArr)

/Users/amalalmansour/Downloads/LIDC
.DS_Store
Malignancy_2
Malignancy_5
Malignancy_4
Malignancy_3
.ipynb_checkpoints
Malignancy_1

In [6]:
np.max(max_array)

255

In [7]:
np.min(min_array)

0

In [8]:
len(image_array)

2680

In [ ]:
np.array(image_array).shape

In [ ]:
np.shape(temp_image.flatten())

In [ ]:
np.shape(np.array(image_array).reshape(-1, 72, 72))

In [ ]:
len(label_array)

In [21]:
output_file = '/Users/amalalmansour/Desktop/labels.csv'
#where to save the csv file
np.savetxt(output_file, label_array, fmt= "%s", delimiter=',')
print("done")

done

In [9]:
output_file = '/Users/amalalmansour/Desktop/images.csv'
#where to save the csv file
np.savetxt(output_file, image_array, fmt= "%s", delimiter=',')
print("done")

done

In [10]:
df1 = pd.read_csv('/Users/amalalmansour/Desktop/images.csv')
display(df1)

,23,13,10,12,13.1,12.1,10.1,15,19,16,...,118.12,113.16,113.17,122.11,136.2,159.1,187.3,208.1,221.2,221.3
0,0,2,17,57,107,142,151,144,136,130,...,14,10,8,10,18,19,11,10,14,14
1,76,65,40,26,23,22,23,34,52,64,...,152,148,151,158,156,152,158,157,152,152
2,65,19,5,8,12,14,14,14,11,9,...,10,15,17,14,11,11,12,14,14,14
3,125,133,126,121,121,126,124,118,119,121,...,16,15,12,9,8,11,11,10,9,9
4,23,20,20,19,15,17,28,26,18,20,...,102,102,98,102,102,100,105,105,104,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2674,16,7,4,10,17,15,10,11,18,35,...,109,109,108,107,111,106,105,113,115,115
2675,10,11,11,8,9,9,10,9,8,8,...,48,51,54,56,59,63,68,71,75,75
2676,20,15,8,11,18,18,13,10,9,13,...,20,27,32,29,21,18,20,22,24,24
2677,4,5,5,6,5,5,6,6,5,7,...,88,87,89,91,90,87,91,91,88,88
2678,89,93,93,90,91,93,93,94,90,91,...,20,15,15,13,7,10,10,9,11,11

In [2]:
df1 = pd.read_csv("/Users/amalalmansour/Desktop/New_Images/LIDC_LabelANDRating.csv")
display(df1)

      noduleID  InstanceID  Binary_Rating_Mal  Binary_Rating_Spic
0            1           4                  1                   3
1            5         118                  3                   0
2            3         134                  3                   3
3            4         143                  3                   3
4            6         175                  0                   0
...        ...         ...                ...                 ...
1327      2655       40771                  3                   0
1328      2657       40780                  1                   3
1329      2656       40794                  1                   3
1330      2658       40801                  3                   3
1331      2660       40860                  0                   0

[1332 rows x 4 columns]

In [6]:
df2 = pd.read_csv("/Users/amalalmansour/Desktop/New_Images/Spiculation/Test_Pixels_71X71.csv")
display(df2)

,InstanceID,Binary_Rating_Spic,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 5033,Unnamed: 5034,Unnamed: 5035,Unnamed: 5036,Unnamed: 5037,Unnamed: 5038,Unnamed: 5039,Unnamed: 5040,Unnamed: 5041,Unnamed: 5042
0,270,1,49.78209,30.75224,13.54925,23.29254,15.83284,13.85373,0.45672,7.91642,...,19.18209,25.57612,24.66269,23.14030,23.74925,11.26567,26.18507,53.43582,20.55224,26.48955
1,425,0,23.66300,14.78938,14.01099,16.50183,13.38828,8.56227,4.67033,2.49084,...,140.57692,136.52930,135.59524,132.94872,141.51099,151.63004,156.30037,158.01282,158.94689,156.76740
2,487,0,18.62784,15.85884,6.29319,1.00691,7.55183,11.32774,8.81046,15.10365,...,27.43830,25.92794,25.67621,37.00395,44.55577,35.24186,27.94176,30.20731,38.76604,61.92498
3,515,0,183.64507,178.95066,173.50515,167.87187,168.43520,176.50957,179.88954,174.81959,...,10.13991,4.69440,0.37555,1.68999,6.00884,12.01767,15.58542,23.84757,37.55523,51.26289
4,1364,0,166.36470,164.18351,165.17496,168.74417,173.10653,179.45179,186.78849,190.15941,...,190.35770,187.97823,189.36625,184.80560,191.54743,195.31493,195.71151,192.93546,191.15086,190.55599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,39376,0,23.36014,32.09790,33.70280,23.89510,13.19580,9.27273,7.48951,5.70629,...,19.08042,21.04196,21.57692,19.61538,18.01049,20.68531,26.03497,26.92657,24.07343,24.07343
141,39440,0,0.30834,23.74244,2.15840,14.90326,3.70012,12.33374,9.45586,27.85369,...,118.60943,141.73519,170.10278,137.62394,138.65175,154.37727,105.96735,107.81741,105.45345,75.85248
142,39806,0,20.48982,15.85856,8.13979,11.64832,18.52504,18.80572,13.05173,10.80627,...,18.94606,20.77050,27.22620,32.41882,29.19097,21.47221,18.94606,20.20914,22.31425,24.41937
143,40002,0,128.39837,123.28455,117.47967,120.52033,127.98374,134.75610,130.19512,129.36585,...,11.47154,8.84553,12.85366,17.96748,16.17073,10.50407,8.84553,12.85366,15.47967,13.26829
144,40633,0,118.90869,120.52734,129.74121,134.97070,137.58545,136.58936,132.72949,127.12646,...,16.31104,16.06201,13.32275,18.17871,27.14355,20.91797,11.70410,13.44727,15.43945,9.58740

In [7]:
train_slices = pd.merge(df2["InstanceID"], df1)
display(train_slices)

     InstanceID  noduleID  Binary_Rating_Mal  Binary_Rating_Spic
0           270        15                  3                   1
1           425        34                  3                   0
2           487        42                  3                   0
3           515        36                  3                   0
4          1364       105                  2                   0
..          ...       ...                ...                 ...
140       39376      2567                  3                   0
141       39440      2571                  3                   0
142       39806      2594                  0                   0
143       40002      2618                  3                   0
144       40633      2641                  3                   0

[145 rows x 4 columns]

In [8]:
np.savetxt("/Users/amalalmansour/Desktop/final_img_test.csv", train_slices, fmt= "%s", delimiter=',')

In [ ]:
df3 = pd.read_csv("/Users/amalalmansour/Desktop/New_Images/Spiculation/Test_pixels.csv")
display(df3)

In [ ]:
train_slices = pd.merge(df3["InstanceID"], df2)
display(train_slices)

In [ ]:
np.savetxt("/Users/amalalmansour/Desktop/Test_Pixels.csv", train_slices, fmt= "%s", delimiter=',')